html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: black;
  background: #f9f9f9;
  margin: 0;

  &::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #4aa4f2 14%, #4aa4f2 63%);
    border-radius: 15px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
  }
  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
  }
}
